<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pogbot</title>
</head>
<body>
    <h2>Pog Bot</h2>
    <form class="chatter-box" method="POST" action="/">
        <input type="text" placeholder="Say what you want to say" name="message" />
        <button type="submit">Say</button>
    </form>
    <h1></h1>
    <%= message %>

</body>
</html>